.homepage-body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.homepage-img{
    height: auto;
    width: 200px;
}